@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
// Start Colors Vars
$mainColor  : #0084ff;
$logoColor  : #262626;
$layerColor : #262626;
$facebook   : #3b5998;
$google-p   : #dd4b39;
$youtube    : #ea2c0c;
$twitter    : #00aced;
$linkedIn   : #007bb6;
$whatsApp   : #25D366;
$clockColor : #00aeef;
$phoneColor : #5619d9;
$instagram  : #8a49a1 ;
